<!-- <p>about works!</p> -->
<app-navbar></app-navbar>
<div class="container m-5">
<div class="card text-center m-auto">
    <!-- <div class="card-header text-light">
      About
    </div> -->
    <div class="card-body m-5">
      <div class="mb-5"><h4 class="card-title text-light">About</h4></div>
      <h5 class="card-title text-light">Account holder : {{name}}</h5>
      <p class="card-text text-light">Account Number  :  {{acno}}</p>
      <a (click)="deleteacc()" class="btn btn-primary">Delete this acccount</a>
    </div>
  </div>
</div>